# Ignore data folders
/data/
/data_split/
/new_data/
/runs/
/wandb/
/checkpoints/
/logs/
/models/
/model_outputs/
/reports/
/.vscode/
/EfficientNetV2S/
/EfficientNetV2S-run1/
/__pycache__/
**/__pycache__/
/EfficientNetB0/
/MobileNetV3Large/
/ConvNeXtTiny/
.pytest_cache/
.ruff_cache/
keys.md