# Ignore data folders
/data/
/new_data/
/runs/
/wandb/
/checkpoints/
/logs/
/models/
/.vscode/
/EfficientNetV2S/
/EfficientNetV2S-run1/
/__pycache__/
**/__pycache__/
/EfficientNetB0/
/MobileNetV3Large/
/ConvNeXtTiny/
/data_curated/
/new_data_curated/
/reports/
